# Hugo output
/public/
resources/_gen/

# Hugo cache and temp files
.cache/
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project
.idea/
.vscode/

# Logs
*.log

# Node / npm / package manager files (if using frontend assets)
node_modules/
npm-debug.log
yarn-error.log

# Other temp files
*.tmp
*.bak
